asgiref==3.5.2
certifi==2022.6.15
charset-normalizer==2.1.0
cssselect2==0.6.0
dj-database-url==1.0.0
Django==4.1
django-classy-tags==3.0.1
django-cms==3.11.0
django-filer==2.2.2
django-formtools==2.3
django-js-asset==2.0.0
django-mptt==0.13.4
django-polymorphic==3.1.0
django-sekizai==4.0.0
django-treebeard==4.5.1
djangocms-admin-style==3.2.0
djangocms-installer==2.0.0
easy-thumbnails==2.8.3
idna==3.3
lxml==4.9.1
Pillow==9.2.0
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
reportlab==3.6.11
requests==2.28.1
six==1.16.0
sqlparse==0.4.2
svglib==1.4.1
tinycss2==1.1.1
tzdata==2022.1
tzlocal==4.2
Unidecode==1.1.2
urllib3==1.26.11
webencodings==0.5.1