{% extends 'template.html' %} {% load static %} {% block seo-tag %}
<meta
  name="Компания Genset Machinery"
  content="Генераторы на заказ и в наличии. Доставка по РК. Генераторы в аренду. Обслуживание генераторов. Официальная гарантия."
/>
{% endblock %} {% block content %}
<link rel="stylesheet" href="{% static 'css/about_company.css' %}" />
<div class="beginning">
  <div class="big_text">
    <h1>GENSET</h1>
    <h1>MACHINERY</h1>
    <h2>
      МЫ УСТАНАВЛИВАЕМ ДИЗЕЛЬНЫЕ ГЕНЕРАТОРЫ В ЛЮБОЙ ТОЧКЕ КАЗАХСТАНА ПОД КЛЮЧ
    </h2>
  </div>
  <div class="button_red" onclick="location.href='/generators'">
    <p>Каталог</p>
  </div>
</div>

<div class="our_capabilities">
  <div class="transparent_header">
    <h2>наши возможности</h2>
  </div>
  <div class="circled_points">
    <p>Штат профессиональных специалистов</p>
    <img src="{% static 'images/generator_service.png' %}" alt="Service" />
    <p>Возможность огранизации оптовых поставок</p>
    <div id="last_point">
      <h2>Большой опыт работы с объектами разной сложности</h2>
    </div>
    <div id="circle"></div>
  </div>
</div>

<div class="our_clients">
  <u>наши клиенты</u>
  <div class="clients">
    {% for client in clients %}
    <img src="{{ client.image.url }}" alt="{{ client.title }}" />
    {% endfor %}
  </div>
</div>

<div class="service">
  <div class="rectangles">
    <div class="dashed_rectangle_container">
      <div class="dashed_rectangle" style="margin-left: 2%; text-align: left">
        <img src="{% static 'images/triangle_arrow.png' %}" alt="arrow" />
        <p>Квалифицированные сотрудники</p>
      </div>
    </div>
    <div class="dashed_rectangle_container">
      <div class="dashed_rectangle" style="margin-right: 2%; text-align: right">
        <p>Сравнительный анализ оборудования</p>
        <img
          class="rotate_180"
          src="{% static 'images/triangle_arrow.png' %}"
          alt="arrow"
        />
      </div>
    </div>
    <div class="dashed_rectangle_container">
      <div class="dashed_rectangle" style="margin-left: 2%; text-align: left">
        <img src="{% static 'images/triangle_arrow.png' %}" alt="arrow" />
        <p>Выгодные условия</p>
      </div>
    </div>
    <div class="dashed_rectangle_container">
      <div class="dashed_rectangle" style="margin-right: 2%; text-align: right">
        <p>Оперативность в поставке оборудования</p>
        <img
          class="rotate_180"
          src="{% static 'images/triangle_arrow.png' %}"
          alt="arrow"
        />
      </div>
    </div>
    <div class="dashed_rectangle_container">
      <div class="dashed_rectangle" style="margin-left: 2%; text-align: left">
        <img src="{% static 'images/triangle_arrow.png' %}" alt="arrow" />
        <p>Решение нестандартных задач</p>
      </div>
    </div>
    <div class="dashed_rectangle_container">
      <div class="dashed_rectangle" style="margin-right: 2%; text-align: right">
        <p>Собственная техническая база</p>
        <img
          class="rotate_180"
          src="{% static 'images/triangle_arrow.png' %}"
          alt="arrow"
        />
      </div>
    </div>
  </div>
</div>

<div class="clients_info">
  <div class="info_container">
    <h1>{{ about_numbers.types_of_items }}</h1>
    <h2>ВИДОВ ТОВАРА</h2>
  </div>
  <div class="info_container">
    <h1>{{ about_numbers.delivery_days }}</h1>
    <h2>УСПЕШНЫХ ПРОЕКТОВ</h2>
  </div>
  <div class="info_container">
    <h1>{{ about_numbers.employers }}</h1>
    <h2>СОТРУДНИКОВ</h2>
  </div>
  <div class="info_container">
    <h1>{{ about_numbers.clients }}</h1>
    <h2>КЛИЕНТОВ</h2>
  </div>
</div>
{% endblock %}
