{% extends 'template.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/about_company.css' %}">
    <div class="beginning">
        <div class="big_text">
            <h1>GENSET</h1>
            <h1>MACHINERY</h1>
            <h2>МЫ УСТАНАВЛИВАЕМ ДИЗЕЛЬНЫЕ ГЕНЕРАТОРЫ В ЛЮБОЙ ТОЧКЕ КАЗАХСТАНА ПОД КЛЮЧ</h2>
        </div>
        <div class="button_red">
            <p>Каталог</p>
        </div>
    </div>

    <div class="our_capabilities">
        <div class="transparent_header">
            <h1>наши возможности</h1>
            <h2>наши возможности</h2>
        </div>
        <div class="circled_points">
            <p>Штат профессиональных специалистов</p>
            <img src="{% static 'images/generator_service.png' %}" alt="Service">
            <p>Возможность огранизации оптовых поставок</p>
            <div id="last_point">
                <h2>Большой опыт работы с объектами разной сложности</h2>
            </div>
            <div id="circle"></div>
        </div>
    </div>

    <div class="service">
        <div class="transparent_header">
            <h1>СЕРВИС</h1>
            <h2>СЕРВИС</h2>
        </div>
        <div class="rectangles">
            <div class="dashed_rectangle">
                <p>• Квалифицированные сотрудники</p>
                <p>• Сравнительный анализ оборудования</p>
                <p>• Выгодные условия</p>
                <p>• Оперативность в поставке оборудования</p>
                <p>• Решение нестандартных задач</p>
                <p>• Собственная техническая база</p>
            </div>
        </div>
    </div>

    <div class="our_clients">
        <u>наши клиенты</u>
        <div class="clients">
            {% for client in clients %}
                <img src="{{ client.image.url }}" alt="{{ client.title }}"/>
            {% endfor %}
        </div>
    </div>
{% endblock %}