{% extends 'template.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/main_page.css' %}">
    <div class="beginning">
        <div class="text_container">
            <div class="big_text">
                <h1>дизельные</h1>
                <h1>генераторы</h1>
                <h2>от Genset Machinery</h2>
            </div>
        </div>

        <div class="beginning_halves">
            <div class="half_text">
                <p>В наличии более 25 моделей</p>
                <p>Доставка в любую точку Казахстана</p>
                <p>Сервисное обслуживание и ремонт</p>
            </div>
            <div class="half_text">
                <div class="button_red">
                    <p>Каталог</p>
                </div>
            </div>
        </div>
    </div>

    <div class="about_us">
        <div class="transparent_header">
            <h1>о нас</h1>
            <h2>о нас</h2>
        </div>
        <div class="about_us_image">
            <img src="{% static 'images/about_us.png' %}" alt="About us"/>
        </div>
    </div>

    <div class="our_advantages">
        <div class="transparent_header">
            <h1>наши преимущества</h1>
            <h2>наши преимущества</h2>
        </div>
        <div>
            <div class="advantage">
                <h1>1</h1>
                <div class="advantage_text_container">
                    <h2>большой выбор</h2>
                    <h3>25 моделей разной
                        мощности всегда в наличии на складе,
                        модели любой мощности под заказ</h3>
                </div>
            </div>

            <div class="advantage">
                <div class="advantage_text_container" style="text-align: end">
                    <h2>лучшие цены</h2>
                    <h3>мы способны удерживать лучшие цены,
                        так как реализуем дизельные генераторы
                        под собственной маркой Genset Maсhinery</h3>
                </div>
                <h1>2</h1>
            </div>

            <div class="advantage">
                <h1>3</h1>
                <div class="advantage_text_container">
                    <h2>большой выбор</h2>
                    <h3>25 моделей разной мощности всегда в наличии на складе,
                        модели любой мощности под заказ</h3>
                </div>
            </div>

            <div class="advantage">
                <div class="advantage_text_container">
                    <h2>лучшие цены</h2>
                    <h3>мы способны удерживать лучшие цены,
                        так как реализуем дизельные генераторы
                        под собственной маркой Genset Maсhinery</h3>
                </div>
                <h1>4</h1>
            </div>
        </div>
    </div>

    <div class="our_projects">
        <div class="transparent_header">
            <h1 style="font-size: 7vw">выполненные проекты</h1>
            <h2 style="font-size: 5vw">выполненные проекты</h2>
        </div>

        <div class="projects">
            <div class="single_project">
                <img src="{% static 'images/project1.png' %}" alt="Project 1"/>
                <p>Обеспечение электроэнергией завода АВЗ
                    (Алматинский Вентиляторный Завод) в результате аварийного
                    отключения подстанции</p>
            </div>

            <div class="single_project">
                <img src="{% static 'images/project2.png' %}" alt="Project 1"/>
                <p>Обеспечение электроэнергией завода АВЗ (Алматинский Вентиляторный Завод) в результате аварийного
                    отключения подстанции</p>
            </div>

            <div class="single_project">
                <img src="{% static 'images/project3.png' %}" alt="Project 1"/>
                <p>Сельскохозяйственная выставка для сельхозпроизводителей, на которой мы выступали в качестве
                    поставщика электроэнергии для всей выставки</p>
            </div>
        </div>
    </div>

    <div class="our_clients">
        <u>наши клиенты</u>
        <div class="clients">
            <img src="{% static 'images/client1.png' %}" alt="Client 1"/>
            <img src="{% static 'images/client2.png' %}" alt="Client 2"/>
            <img src="{% static 'images/client3.png' %}" alt="Client 3"/>
            <img src="{% static 'images/client4.png' %}" alt="Client 4"/>
            <img src="{% static 'images/client5.png' %}" alt="Client 5"/>
        </div>
    </div>
{% endblock %}