{% extends 'template.html' %} {% load static %} {% block seo-tag %}
<meta
  name="Наши проекты"
  content="Генераторы на заказ и в наличии. Доставка по РК. Генераторы в аренду. Контакты, адрес, социальные сети. Наши выполненные работы."
/>
{% endblock %} {% block content %}
<link rel="stylesheet" href="{% static 'css/projects.css' %}" />

<div class="transparent_header">
  <h2>наши проекты</h2>
</div>

<div class="projects_flexbox">
  {% for project in projects %}
  <div class="single_project">
    <img src="{{ project.image.url }}" alt="{{ project.title }}" />
    <p>{{ project.description }}</p>
  </div>
  {% endfor %}
</div>
{% endblock %}
