{% load cms_tags sekizai_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block imports %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/template.css' %}">
    <script src="{% static 'js/loader.js' %}"></script>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% page_attribute "page_title" %}</title>
    {% render_block "css" %}
</head>
<body>
<div id="loader"></div>
<div id="content">
    {% cms_toolbar %}
    {% placeholder "content" %}
    <div class="header">
        <div class="logo_container">
            <img src="{% static 'images/logo.png' %}" class="logo" alt="Logo">
        </div>
        <div class="buttons">
            <a href="{% url 'app:main_page' %}" class="single_button">Главная</a>
            <a href="{% url 'app:about' %}" class="single_button">О компании</a>
            <div class="dropdown">
                <a class="single_button">Генераторы</a>
                <div class="dropdown-content">
                    <a href="{% url 'app:generators' %}">Все генераторы</a>
                    {% for category in categories %}
                        <a href="{% url 'app:gen_category' category.id %}">{{ category.title }}</a>
                    {% endfor %}
                </div>
            </div>
            <a href="{% url 'app:rent' %}" class="single_button">Аренда</a>
            <a href="{% url 'app:projects' %}" class="single_button">Наши проекты</a>
            <a href="{% url 'app:contacts' %}" class="single_button">Контакты</a>
        </div>
        <div class="contacts">
            <a href="mailto:gsetmsales@gmail.com" id="single_contact">gsetmsales@gmail.com</a>
            <a href="tel:+77770813707" id="single_contact">+7 777 081 37 07</a>
        </div>
    </div>

    {% block content %}
        <p>Default value</p>
    {% endblock %}

    <div class="footer">
        <div class="logo_container">
            <img src="{% static 'images/logo_white.png' %}" class="logo" alt="Logo">
        </div>
        <div class="footer_items_container">
            <div class="footer_item">
                <h4>о компании</h4>
                <p>Компания Genset Machinery устанавливает дизельные генераторы в Алматы и в любой точке Казахстана под
                    ключ.
                    Наши клиенты используют их для непрерывной подачи электроэнергии на производство, в государственные
                    предприятия и учреждения, в частные дома в качестве основного или резервного источника питания.</p>
            </div>
            <div class="footer_item">
                <h4>контакты</h4>
                <a class="links">г. Алматы, микрорайон Тастыбулак, с/т Алмалы, д.76/1</a>
                <a class="links" href="tel:+77770813707">+7 (777) 081 37 07</a>
                <a class="links" href="mailto:gsetmsales@gmail.com">gsetmsales@gmail.com</a>
            </div>
            <div class="footer_item">
                <h4>карта сайта</h4>
                <a href="{% url 'app:main_page' %}">> Главная</a>
                <a href="{% url 'app:about' %}">> О компании</a>
                <a href="{% url 'app:generators' %}">> Генераторы</a>
                <a href="{% url 'app:rent' %}">> Аренда</a>
                <a href="{% url 'app:projects' %}">> Наши проекты</a>
                <a href="{% url 'app:contacts' %}">> Контакты</a>
            </div>
        </div>
    </div>
    {% render_block "js" %}
</div>
</body>
</html>