{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block imports %}{% endblock %} {% block seo-tag %}
    <meta
      name="Купить генераторы"
      content="Генераторы на заказ и в наличии. Доставка по РК. Генераторы в аренду. Обслуживание и установка генераторов. Качественный сервис. Официальная гарантия."
    />
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/template.css' %}" />
    <script src="{% static 'js/template.js' %}"></script>
    <script src="{% static 'js/loader.js' %}"></script>
    <meta
      charset="UTF-8"
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>{{ request.resolver_match.url_name }}</title>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-237354474-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-237354474-1");
    </script>
  </head>
  <body>
    <div id="loader"></div>
    <div id="content">
      <div class="header">
        <div class="logo_container">
          <img src="{% static 'images/logo.png' %}" class="logo" alt="Logo" />
        </div>
        <div class="buttons">
          <a href="/" class="single_button">Главная</a>
          <a href="/about" class="single_button">О компании</a>
          <div class="dropdown" onclick="clicked()">
            <a class="single_button">Генераторы</a>
            <div class="dropdown-content" id="clickable">
              <a href="/generators">Все генераторы</a>
              {% for category in categories %}
              <a href="/generators/{{ category.id }}">{{ category.title }}</a>
              {% endfor %}
            </div>
          </div>
          <a href="/rent" class="single_button">Аренда</a>
          <a href="/projects" class="single_button">Наши проекты</a>
          <a href="/contacts" class="single_button">Контакты</a>
        </div>
        <div class="contacts">
          <a href="mailto:gsetmsales@gmail.com" id="single_contact"
            >gsetmsales@gmail.com</a
          >
          <a href="tel:+77770813707" id="single_contact">+7 777 081 37 07</a>
        </div>
      </div>

      {% block content %}
      <p>Default value</p>
      {% endblock %}

      <div class="footer">
        <div class="logo_container">
          <img
            src="{% static 'images/logo_white.png' %}"
            class="logo"
            alt="Logo"
          />
        </div>
        <div class="footer_items_container">
          <div class="footer_item">
            <h4>о компании</h4>
            <p>
              Компания Genset Machinery устанавливает дизельные генераторы в
              Алматы и в любой точке Казахстана под ключ. Наши клиенты
              используют их для непрерывной подачи электроэнергии на
              производство, в государственные предприятия и учреждения, в
              частные дома в качестве основного или резервного источника
              питания.
            </p>
          </div>
          <div class="footer_item">
            <h4>контакты</h4>
            <a class="links"
              >г. Алматы, микрорайон Тастыбулак, с/т Алмалы, д.76/1</a
            >
            <a class="links" href="tel:+77770813707">+7 (777) 081 37 07</a>
            <a class="links" href="mailto:gsetmsales@gmail.com"
              >gsetmsales@gmail.com</a
            >
          </div>
          <div class="footer_item">
            <h4>карта сайта</h4>
            <a href="/">> Главная</a>
            <a href="/about">> О компании</a>
            <a href="/generators">> Генераторы</a>
            <a href="/rent">> Аренда</a>
            <a href="/projects">> Наши проекты</a>
            <a href="/contacts">> Контакты</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
