.head_image {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.centered_big_text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 4%;
}

.centered_big_text h1 {
    font-family: SFProDisplay-Bold, sans-serif;
    font-size: 6vw;
    color: rgba(255, 185, 0, 1);
    width: 100%;
    margin: 0;
}

.generators {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.single_generator {
    width: 25%;
    display: flex;
    border: 1px dashed #FFFFFF;
    flex-direction: column;
    border-radius: 1%;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    margin-bottom: 5%;
    margin-inline: auto;
    height: 60vh;
}

.image_container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-block: auto;
}

.image_container img {
    max-width: 90%;
    width: 80%;
    object-fit: contain;
    height: auto;
}

.generator_description {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    margin-block: auto;
}

.generator_description h1 {
    font-family: SFProDisplay-Bold, sans-serif;
    font-size: 1.5vw;
    color: #FFFFFF;
    margin-bottom: 1%;
}

.generator_description h5 {
    font-family: SFProDisplay-Bold, sans-serif;
    font-size: 0.8vw;
    color: #FFFFFF;
    margin-block: 1%;
}

.generator_description h4 {
    margin-top: 3%;
    font-family: SFProDisplay-Bold, sans-serif;
    font-size: 1.2vw;
    color: #FFFFFF;
}

.button_container {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
}

.button_red {
    text-align: center;
    background-color: #991616;
    height: 90%;
    width: 90%;
    border-radius: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: auto;
}

.button_red a {
    font-family: SFProDisplay-Bold, sans-serif;
    font-size: 1.5vw;
    color: #FFFFFF;
    padding: 5%;
    text-decoration: none;
}

@media (max-width: 650px) {
    .single_generator {
        height: 20vh;
    }
}